		<div class="b-content__wrapper">
			<header class="b-content__header">
				<h2 class="b-content__title">Анкета Школы Разработки Интерфейсов</h2>
				<div class="b-navigation b-navigation_left">
					<a href="#general">
						<div class="b-navigation__item">
							<span class="b-navigation__item-text">Общие вопросы</span>
							<span class="b-navigation__item-icon b-navigation__item-icon_general"></span>
						</div>
					</a>
					<a href="#experience">
						<div class="b-navigation__item">
							<span class="b-navigation__item-text">Опыт разработки</span>
							<span class="b-navigation__item-icon b-navigation__item-icon_experience"></span>
						</div>
					</a>
					<a href="#answers">
						<div class="b-navigation__item">
							<span class="b-navigation__item-text">Технические вопросы</span>
							<span class="b-navigation__item-icon b-navigation__item-icon_answers"></span>
						</div>
					</a>
				</div>
				<div class="b-navigation b-navigation_right">
					<a href="/print.html" target="blank">
						<div class="b-navigation__item">
							<span class="b-navigation__item-text">Версия для печати</span>
							<span class="b-navigation__item-icon b-navigation__item-icon_print"></span>
						</div>
					</a>
				</div>
			</header>
			<article class="b-article">
				<section id="general" class="b-article__section b-article__section_general">
					<h3 class="b-article__section__title">
						<span class="b-article__section__title-text">Общие вопросы</span>
					</h3>
					<ul class="b-article__section__items">
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">ФИО</p>
							<p class="b-article__section__item-content">Копцов Александр Александрович</p>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Год рождения</p>
							<p class="b-article__section__item-content">1986</p>
						</li>
						<li>
							<p class="b-article__section__item-name">Город, в котором живёте</p>
							<p class="b-article__section__item-content">Москва</p>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Вуз, факультет, специальность, кафедра</p>
							<ul class="b-article__section__item-content">
								<li>МГУ им. М.В. Ломоносова</li>
								<li>Механико-математический факультет, специальность "Математика"</li>
								<li>Кафедра вычислительной математики</li>
							</ul>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Год окончания вуза</p>
							<p class="b-article__section__item-content">2008</p>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">На каком уровне владеете английским языком?</p>
							<p class="b-article__section__item-content">Advanced</p>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Чего вы ожидаете от участия в Школе?</p>
							<ul class="b-article__section__item-content">
								<li>Расширения знаний по разработке интерфейсов</li>
								<li>Внесения структуры и ясности в имеющиеся знания</li>
								<li>Повышения своего профессионального уровня</li>
							</ul>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Откуда вы о нас узнали?</p>
							<p class="b-article__section__item-content">Из презентации на Яндекс-субботнике 28.07.2012</p>
						</li>
					</ul>
				</section>
				<section id="experience" class="b-article__section b-article__section_experience">
					<h3 class="b-article__section__title">
						<span class="b-article__section__title-text">Опыт разработки</span>
					</h3>
					<ul class="b-article__section__items">
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">
								Расскажите нам о вашем опыте разработки. Ничего не упускайте: это может быть как серьезный интерфейс, так и просто домашняя страничка.
							</p>
							<div class="b-article__section__item-content">
								<p>Занимаюсь профессиональной разработкой с 2007 года, но веб-разработкой начал заниматься относительно недавно.
								До этого я сперва писал алгоритмы на C++ и встраивал алгоритмы из OpenCV, затем продолжил заниматься интерфейсной и алгоритмической разработкой, 
								но уже десктопного приложения на C#.
								После этого делал внедряемое интранет-решение - сперва на ASP.NET, а в итоге на базе asmx-сервисов и jQuery.</p>
								<p>Теперь я работаю в основном во фронт-энде, хотя частенько бывают задачи и по backend на С#. 
								И в основном реализую логику приложения - даже не столько визуальное отображение, сколько интерактивность и реакцию на события с сервера.</p>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Какие языки программирования, фреймворки и технологии вы использовали? Сложились ли у вас личные предпочтения?</p>
							<div class="b-article__section__item-content">
								<p>Если перечислить те, что использовал в профессиональной разработке, в хронологическом порядке, то получится</p>
								<ul>
									<li>C++/STL</li>
									<li>C#, SQL</li>
									<li>JavaScript</li>
								</ul>
								<p>Если сюда добавить ещё те языки, на которых я когда-то что-то писал,
								то список пополнится C, Python, Ruby, WIX, <i>etc.</i> </p>
								<p>Что касается фреймворков, то в С# использую Ninject, NUnit и Moq, а в JavaScript - jQuery.</p>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Какие редакторы и среды разработки вы использовали? Чем обычно пользуетесь?</p>
							<div class="b-article__section__item-content">
								<p>В разное время я использовал разные редакторы. На работе это в основном были какие-то версии Visual Studiо, дома и в университете пробовал альтернативные варианты.</p>
								<p>Так или иначе, я успел некоторое время поработать в</p>
								<ul>
									<li>vim</li>
									<li>Visual Studio 2003-2010</li>
									<li>Net Beans</li>
									<li>Aptana</li>
									<li>Sublime Text 2</li>
									<li>Notepad++</li>
									<li>SQL Server Management Studio 2005-2008</li>
								</ul>
								<p>
									Сейчас я пользуюсь в основном Visual Studio и Notepad++, 
									первым для разработки на С# и solution-wide поиска по front-end ресурсам,
									вторым для быстрых изменений фронтэнда: можно успеть изменить в нём пару-тройку js-файлов, сжать скрипты,
									открыть браузер, проверить, что всё работает - и к этому времени как раз откроется solution в Visual Studio.
								</p>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">С какими ОС приходилось сталкиваться? Для каких целей вы их использовали?</p>
							<div class="b-article__section__item-content">
								<p>Преимущественно использую Windows, хотя есть некоторый опыт работы с Linux.</p>
								<p>В ходе решения тестового задания вспомнил, что собирался установить на старый нетбук lightweight-дистрибутив Linux, остановился на Lububntu 12. На нём в итоге и было сделано всё тестовое задание.</p>
							</div>
						</li>
						<li>
							<p class="b-article__section__item-name">Приходилось ли вам пользоваться системами контроля версий? Если да, то какими? Какая из них вам нравится больше всего?</p>
							<div class="b-article__section__item-content">
								<p>Использую SVN и GIT. Хотя экспертом ни в одной из систем назвать себя не могу, но пользуюсь регулярно и той, и другой.</p>
								<p>GIT получше (в немалой степени за счёт наличия  GitHub), зато SVN попривычнее.</p>
								<p></p>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Использовали ли вы системы постановки и ведения задач?</p>
							<div class="b-article__section__item-content">
								<p>Раньше в качестве багтрекера использовал BugNet, для ведения задач и отчётности когда-то давно использовал MS Project. 
								Сейчас всё общение по поводу задач происходит через TFS, Trello и Outlook (с его помошью можно писать письма - а значит, можно вести задачи)</p>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Какие полезные для фронтенд-разработчика ресурсы вы используете и можете посоветовать?</p>
							<div class="b-article__section__item-content">
								<p>Те ресурсы, кооторыми я пользуюсь, можно поделить на 3 категории: расширение кругозора, справочные ресурсы и ресурсы с релевантным контентом.</p>
								</p>Что касается первых, то тут можно привести в пример любой сайт со статьями и обсуждениями по теме 
								- например <a href="http://habrahabr.ru">Хабр</a> - а также тематические сайты и блоги. </p>
								<p>Если есть конкретный вопрос по какой-то теме, лучше всего будет задать его поисковику. 
								Почти наверное по одной из первых ссылок будет ответ. Если вдруг не повезло - 
								можно этот же вопрос задать на тематическом ресурсе или на <a href="http://stackoverflow.com">StackOverflow</a> - последний мне нравится больше, 
								так как его постоянно смотрит очень много людей, и больше шансов, что кто-то из них знает ответ и решит им поделиться.</p>
								<p>Что касается сайтов с полезным контентом, то вот парочка:</p>
								<ul>
									<li>
										<p><a href="http://subtlepatterns.com">Subtle Patterns</a></p>
										<p>Большой набор разных фоновых текстур, отлично подходит для некоммерческих проектов - в частности, использован на этом сайте</p>
									</li>
									<li>
										<p><a href="http://findicons.com">Findicons</a></p>
										<p>Поисковик иконок. Особенно радует, что можно просматривать иконки по сетам, и что есть фильтр по лицензии</p>
									</li>
								</ul>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Работали ли вы где-нибудь? Какие у вас были должностные обязанности? Есть ли опыт работы в команде?</p>
							<div class="b-article__section__item-content">
								<p>Работал и продолжаю работать программистом. </p>
								</p>
								Должностные обязанности - разработка функционала по ТЗ, предоставляемым отделом проектирования, его отладка и поддержка.
								Работал и в команде программистов, и в качестве единственного разработчика в отделе
								-  и в каждом случае непрерывно взаимодействовал с постановщиками задач и руководством.
								</p>
							</div>
						</li>
					</ul>
				</section>
				<section id="answers" class="b-article__section b-article__section_answers">
					<h3 class="b-article__section__title">
						<span class="b-article__section__title-text">Технические вопросы</span>
					</h3>
					<ul class="b-article__section__items">
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Перечислите известные вам инструменты и приёмы для отладки кода в разных браузерах.</p>
							<div class="b-article__section__item-content">
								<p>В большинстве браузеров есть встроенные отладчики, либо соответствующие плагины (firebug), которые позволяют осуществлять отладку "на лету" 
								(в IE нужно предварительно разрешить отладку скриптов в настройках браузера).</p>
								
								<p>Чуть интереснее обстоит дело с отладкой на машинах, к которым доступа фактически нет - тогда нужно делать механизм обработки исключений, отправляющий их на сервер с логами.
								По этим логам можно попытаться узнать, что происходит на машинах клиентов.</p>
								
								<p>Ну и конечно, нельзя не вспомнить <span class="b-inline b-inline_code">console.log</span> 
								и отладочный <span class="b-inline b-inline_code">alert</span>.</p>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Опишите своими словами, что происходит в браузерах при клике на ссылку yandex.ru</p>
							<div class="b-article__section__item-content">
								<p>Происходит примерно следующее:</p>
								<ol>
									<li>Сперва по имени хоста определяется его IР-адрес: он либо берется из DNS-кеша браузера 
									- либо, в случае отсутствия адреса в кеше, делается новый запрос к DNS-серверу</li>
									<li>После этого делается GET-запрос по протоколу HTTP к найденному хосту для получения HTML-страницы</li>
									<li>В ответ на запрос, удаленный сервер начинает слать данные HTML-страницы по адресу http://yandex.ru</li>
									<li>Браузер получает данные, и начинает на их основе построение документа - DOM-дерева и его визуального представления</li>
									<li>Когда браузер натыкается внутри документа на ссылку на дополнительный ресурс, он повторяет шаги 1-3 для получения этого ресурса, параллельно продолжая парсить документ.
										Но если при этом ему попался скрипт, то построение документа приостанавливается до тех пор, пока он не будет загружен и выполнен.
										Это связано с тем, что скрипт может менять DOM-дерево, и для продолжения построения нужно убедиться, что скрипт отработал.
										Поэтому считается правильным ставить скрипты в конец, чтобы не блокировать построение страницы и загрузку ресурсов, идущих за ними.
									</li>
									<li>
										После построения дерева страница уже должна быть видна пользователю. Если только все css-стили успели загрузиться.
									Некоторые браузеры не отображают страницу до тех пор, пока не загрузятся все стили, 
									а другие на время загрузки стилей отображают нестилизованный контент (FOUC). И то и другое не очень хорошо.
									Поэтому стили надо получить как можно быстрее - обычно их ставят в начало страницы, чтобы они грузились в первую очередь.
									</li>
								</ol>
								<p>Вот <a href="http://developer.yahoo.com/performance/rules.html">ссылка по теме.</a></p>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Предположим, что мы представляем автосалон по продаже японских и немецких автомобилей. У нас есть базовые классы и примеры их использования. Допишите недостающий код.</p>
							<div class="b-article__section__item-content">
								<pre class="brush: js">
{% include tasks/3/script.js %}
								</pre>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Найдите все текстовые файлы (*.txt), в имени которых содержится «yandex», а в содержимом — «школа разработки интерфейсов»</p>
							<div class="b-article__section__item-content">
								<pre class="brush: bash; gutter: false">{% include tasks/4/script.sh %}</pre>
							</div>
						</li>
						<li class="b-article__section__item">
							<p class="b-article__section__item-name">Дана программа, реализованная одновременно на Bash, Python и Perl. Программа принимает произвольное количество аргументов и печатает их количество. Нужно добавить опцию -v для verbose-режима, в котором дополнительно выводится значение каждого из аргументов</p>
							<ul class="b-article__section__item-content">
								<li class="b-code-example b-code-example_collapsed">
									<div class="b-code-example__trigger-container">
										<span class="b-code-example__trigger">Bash</span>
									</div>
									<div class="b-code-example__code">
										<pre class="brush: bash">
{% include tasks/5/script.sh %}
										</pre>
									</div>
								</li>
								<li class="b-code-example b-code-example_collapsed">
									<div class="b-code-example__trigger-container">
										<span class="b-code-example__trigger">Python</span>
									</div>
									<div class="b-code-example__code">
										<pre class="brush: python">
{% include tasks/5/script.py %}
										</pre>
									</div>
								</li>
								<li class="b-code-example b-code-example_collapsed">
									<div class="b-code-example__trigger-container">
										<span class='b-code-example__trigger'>Perl</span>
									</div>
									<div class="b-code-example__code">
										<pre class="brush: perl">
{% include tasks/5/script.pl %}
										</pre>
									</div>
								</li>
							</ul>
						</li>
						<li class="b-article__section__item">
							<div class="b-article__section__item-name">
								<p>Расскажите, в каком объёме и при каких обстоятельствах вы изучали следующие темы: </p>
								<ul>
									<li>Языки программирования (императивные/декларативные, разные системы типов)</li>
									<li>Структуры (классы, структуры данных, примитивные типы)</li>
									<li>Парадигмы (события, ООП, параллельность/асинхронность, кеширование)</li>
									<li>Алгоритмы (парсинг, сортировка, поиск)</li>
									<li>Паттерны</li>
								<ul>
							</div>
							<div class="b-article__section__item-content">
								<p>Тут можно ответить совсем коротко: с теоретической основой всех этих тем (кроме паттернов) я ознакомился в университете,
								а практически применял уже в ходе работы и в том объёме, которого требовали возникавшие задачи.</p>
								<p> Опять же, не могу назвать себя экспертом - но все эти задачи в итоге были решены.</p>
							</div>
						</li>
					</ul>
				</section>
			</article>
			<footer class="b-content__footer">
				<p>&#9400; 2012, Копцов А. А. Все права запрещены.</p>
			</footer>
		</div>