		<div class="content-wrapper">
			<header>
				<h2 class="content-title">Анкета Школы Разработки Интерфейсов</h2>
				<div class="navigation left">
					<a  href="#general">
						<div class="navigation-item">
							<span class="text">Общие вопросы</span>
							<span class="icon general">
							</span>
						</div>
					</a>
					<a  href="#experience">
						<div class="navigation-item">
							<span class="text">Опыт разработки</span>
							<span class="icon experience">
							</span>
						</div>
					</a>
					<a href="#answers">
						<div class="navigation-item">
							<span class="text">Технические вопросы</span>
							<span class="icon answers">
							</span>
						</div>
					</a>
				</div>
				<div class="navigation right">
					<a href="/print.html" target="blank">
						<div class="navigation-item">
							<span class="text">Версия для печати</span>
							<span class="icon print">
							</span>
						</div>
					</a>
				</div>
			</header>
			<article class="content">
				<section id="general" class="section general">
					<h3 class="section-title">
						<span class="section-title-text">Общие вопросы</span>
					</h3>
					<ul class="section-items">
						<li>
							<p class="item-name">ФИО</p>
							<p class="item-content">Копцов Александр Александрович</p>
						</li>
						<li>
							<p class="item-name">Год рождения</p>
							<p class="item-content">1986</p>
						</li>
						<li>
							<p class="item-name">Город, в котором живёте</p>
							<p class="item-content">Москва</p>
						</li>
						<li>
							<p class="item-name">Вуз, факультет, специальность, кафедра</p>
							<ul class="item-content">
								<li>МГУ им. М.В. Ломоносова</li>
								<li>Механико-математический факультет, специальность Математика</li>
								<li>Кафедра вычислительной математики</li>
							</ul>
						</li>
						<li>
							<p class="item-name">Год окончания вуза</p>
							<p class="item-content">2008</p>
						</li>
						<li>
							<p class="item-name">На каком уровне владеете английским языком?</p>
							<p class="item-content">Advanced</p>
						</li>
						<li>
							<p class="item-name">Чего вы ожидаете от участия в Школе?</p>
							<ul class="item-content">
								<li>Расширения знаний по разработке интерфейсов</li>
								<li>Внесения структуры и ясности в имеющиеся знания</li>
								<li>Повышения собственного уровня как специалиста</li>
							</ul>
						</li>
						<li>
							<p class="item-name">Откуда вы о нас узнали?</p>
							<p class="item-content">Пришел на Яндекс-субботник 28.07.2012</p>
						</li>
					</ul>
				</section>
				<section id="experience" class="section experience">
					<h3 class="section-title">
						<span class="section-title-text">Опыт разработки</span>
					</h3>
					<ul class="section-items">
						<li>
							<p class="item-name">Расскажите нам о вашем опыте разработки. Ничего не упускайте: это может быть как серьезный интерфейс, так и просто домашняя страничка.</p>
							<p class="item-content">Text goes here</p>
						</li>
						<li>
							<p class="item-name">Какие языки программирования, фреймворки и технологии вы использовали? Сложились ли у вас личные предпочтения?</p>
							<p class="item-content">Text goes here</p>
						</li>
						<li>
							<p class="item-name">Какие редакторы и среды разработки вы использовали? Чем обычно пользуетесь?</p>
							<p class="item-content">Text goes here</p>
						</li>
						<li>
							<p class="item-name">С какими ОС приходилось сталкиваться? Для каких целей вы их использовали?</p>
							<p class="item-content">Text goes here</p>
						</li>
						<li>
							<p class="item-name">Приходилось ли вам пользоваться системами контроля версий? Если да, то какими? Какая из них вам нравится больше всего?</p>
							<p class="item-content">Text goes here</p>
						</li>
						<li>
							<p class="item-name">Использовали ли вы системы постановки и ведения задач?</p>
							<p class="item-content">Text goes here</p>
						</li>
						<li>
							<p class="item-name">Какие полезные для фронтенд-разработчика ресурсы вы используете и можете посоветовать?</p>
							<p class="item-content">Text goes here</p>
						</li>
						<li>
							<p class="item-name">Работали ли вы где-нибудь? Какие у вас были должностные обязанности? Есть ли опыт работы в команде?</p>
							<p class="item-content">Text goes here</p>
						</li>
					</ul>
				</section>
				<section id="answers" class="section answers">
					<h3 class="section-title">
						<span class="section-title-text">Технические вопросы</span>
					</h3>
					<ul class="section-items">
						<li>
							<p class="item-name">Перечислите известные вам инструменты и приёмы для отладки кода в разных браузерах.</p>
							<div class="item-content">
								<p>В большинстве браузеров есть встроенные отладчики, либо соответствующие плагины (firebug), которые позволяют осуществлять отладку "на лету" 
								(в IE нужно предварительно разрешить отладку скриптов в настройках браузера).</p>
								
								<p>Чуть интереснее обстоит дело с отладкой на машинах, к которым доступа фактически нет - тогда нужно делать механизм обработки исключений, отправляющий их на сервер с логами.
								По этим логам можно пытаться узнать, что же происходит на машинах клиентов.</p>
								
								<p>Ну и конечно, нельзя не вспомнить <span class="inline-code">console.log</span> и отладочный <span class="inline-code">alert</span>.</p>
							</div>
						</li>
						<li>
							<p class="item-name">Опишите своими словами, что происходит в браузерах при клике на ссылку yandex.ru</p>
							<p class="item-content">
								ответ на вопрос номер 2
							</p>
						</li>
						<li>
							<p class="item-name">Предположим, что мы представляем автосалон по продаже японских и немецких автомобилей. У нас есть базовые классы и примеры их использования. Допишите недостающий код.</p>
							<div class="item-content">
								<pre class="brush: js">
{% include tasks/3/script.js %}
								</pre>
							</div>
						</li>
						<li>
							<p class="item-name">Найдите все текстовые файлы (*.txt), в имени которых содержится «yandex», а в содержимом — «школа разработки интерфейсов»</p>
							<div class="item-content">
								<pre class="brush: bash; gutter: false">{% include tasks/4/script.sh %}</pre>
							</div>
						</li>
						<li>
							<p class="item-name">Дана программа, реализованная одновременно на Bash, Python и Perl. Программа принимает произвольное количество аргументов и печатает их количество. Нужно добавить опцию -v для verbose-режима, в котором дополнительно выводится значение каждого из аргументов</p>
							<ul class="item-content">
								<li class="code-example collapsed">
									<div class="trigger-container">
										<span class="trigger">Bash</span>
									</div>
									<div class="code">
										<pre class="brush: bash">
{% include tasks/5/script.sh %}
										</pre>
									</div>
								</li>
								<li class="code-example collapsed">
									<div class="trigger-container">
										<span class="trigger">Python</span>
									</div>
									<div class="code">
										<pre class="brush: python">
{% include tasks/5/script.py %}
										</pre>
									</div>
								</li>
								<li class="code-example collapsed">
									<div class="trigger-container">
										<span class='trigger'>Perl</span>
									</div>
									<div class="code">
										<pre class="brush: perl">
{% include tasks/5/script.pl %}
										</pre>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<p class="item-name">Расскажите, в каком объёме и при каких обстоятельствах вы изучали следующие темы: языки программирования (императивные/декларативные, разные системы типов), структуры (классы, структуры данных, примитивные типы), парадигмы (события, ООП, параллельность/асинхронность, кеширование), алгоритмы (парсинг, сортировка, поиск), паттерны.</p>
							<p class="item-content">
								Ответ на вопрос номер 6
							</p>
						</li>
					</ul>
				</section>
			</article>
			<footer class="footer">
				<p>&#9400; 2012, Копцов А. А. Все права запрещены.</p>
			</footer>
		</div>