.b-content_browse .b-navigation__item-text{
	position: relative;
	top: 5px;
}

.b-content_browse .b-navigation__item-icon {
	margin-top: -18px;
}

.b-code-example_collapsed  .b-code-example__code{
	display: none;
}
