.b-content_browse {
	margin: 0px;
	padding: 0% 10%;
	
	font-family: Verdana, Geneva, sans-serif;
	
	color: #3f3f3f;
	background: url('/img/background/irongrip.png') 0 0 repeat;
}
.b-content_browse .b-content__wrapper {
	border: solid #7c7c7c;
	border-width: 0px 0px;
	padding: 10px;

	background-color: #eeeeee;
	background: url('/img/background/light_alu.png') 0 0 repeat;
}

.b-content_browse .b-content__title {
	text-align: center;
	text-shadow: 1px 1px 1px #ffffff;
}

.b-content_browse .b-content__footer {
	padding: auto 10px;
	text-align: center;
}

.b-navigation_left,
.b-navigation_right {
	position: fixed;
	top: 0px;

	width: 230px;
	min-width: 150px;
}

.b-navigation_left {
	left: -200px;
}

.b-navigation_right {
	right: -180px;
}

.b-navigation_left .b-navigation__item,
.b-navigation_right .b-navigation__item  {
	position: relative;
	left: 0px;
	
	width: 100%;
	margin-top: 10px;
	padding: 7px 10px;
	
	background-color: #eeeeee;
	z-index: 1000;
	
	-webkit-transition: left 0.5s ease-in-out 0s;
	-moz-transition: left 0.5s ease-in-out 0s;
	-ms-transition: left 0.5s ease-in-out 0s;
	-o-transition: left 0.5s ease-in-out 0s;
	transition: left 0.5s ease-in-out 0s;
	
}

.b-navigation_left a,
.b-navigation_right a {
	text-decoration: none;
	color:#3f3f3f;
}

.b-navigation_left a:visited,
.b-navigation_right a:visited{
	color:#7c7c7c;
}

.b-navigation_left .b-navigation__item {
	-webkit-border-radius: 0px 10px 10px 0px;
	-moz-border-radius: 0px 10px 10px 0px;
	-o-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
	
	-webkit-box-shadow: 2px 2px 4px #3f3f3f;
	-moz-box-shadow: 2px 2px 4px #3f3f3f;
	-o-box-shadow: 2px 2px 4px #3f3f3f;
	-ms-box-shadow: 2px 2px 4px #3f3f3f;
	box-shadow: 2px 2px 4px #3f3f3f;
}

.b-navigation_left  .b-navigation__item:hover{
	left: 200px;
}

.b-navigation_right .b-navigation__item {
	text-align: right;
	
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px 0px 0px 10px;
	-o-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	
	-webkit-box-shadow: -2px 2px 4px #3f3f3f;
	-moz-box-shadow: -2px 2px 4px #3f3f3f;
	-o-box-shadow: -2px 2px 4px #3f3f3f;
	-ms-box-shadow: -2px 2px 4px #3f3f3f;
	box-shadow: -2px 2px 4px #3f3f3f;
}

.b-navigation_right  .b-navigation__item:hover{
	left: -200px;
}

.b-navigation_left .b-navigation__item-icon,
.b-navigation_right .b-navigation__item-icon {
	width: 26px;
	height: 26px;
	margin-top: -3px;
}

.b-navigation_left  .b-navigation__item-icon  {
	float: right;
}

.b-navigation_right  .b-navigation__item-icon {
	float: left;
}

.b-navigation__item-icon_general {
	background: url('/img/icons/businessman.png') 0 0 no-repeat;
}
.b-navigation__item-icon_experience {
	background: url('/img/icons/briefcase.png') 0 0 no-repeat;
}
.b-navigation__item-icon_answers {
	background: url('/img/icons/keyboard.png') 0 0 no-repeat;
}
.b-navigation__item-icon_print {
	background: url('/img/icons/print.png') 0 0 no-repeat;
}

.b-content_browse .b-article__section {
	width: 100%;
	border: solid #7c7c7c;
	
	line-height: 1.2em;
	
	margin-top: 35px;
	border-width: 1px 0px 0px 0px;
}

.b-content_browse  .b-article__section__title {
	padding-left: 3%;
	text-align: center;
	border: solid #ffffff;
	border-width: 1px 0px 0px 0px;
	margin-top: 0px;
}

.b-content_browse .b-article__section__title-text {
	position: relative;
	top: -0.675em;
	
	text-shadow: 1px 1px 1px #ffffff;
	padding: 0px 5px;
	
	background-color: #eeeeee;
	background: url('/img/background/light_alu.png') 0 0 repeat;
}

.b-content_browse .b-article__section__items {
	padding-left: 3%;
	list-style-type: none;

}

.b-content_browse .b-article__section__item-name {
	font-weight: bold;
}

.b-content_browse .b-article__section__item-content {
	padding: 0px 15px;
	text-indent: 15px;
	text-align: justify;
	list-style-type: none;
}

.b-content_browse .b-inline_code {
	font-family: Courier New;
}

.b-content_browse .b-code-example__code {

	-webkit-transition: max-height 0.6s ease-in-out 0.1s;
	-moz-transition: max-height 0.6s ease-in-out 0.1s;
	-o-transition: max-height 0.6s ease-in-out 0.1s;
	transition: max-height 0.6s ease-in-out 0.1s;
	
	text-indent: 0px;
	max-height: 2000px;
	overflow: hidden;
}

.b-code-example_collapsed  .b-code-example__code{
	max-height: 0px;
}

.b-content_browse .b-code-example__trigger-container{
	margin-top: 5px;
	padding: 5px 0px;
}

.b-content_browse .b-code-example__trigger:hover {
	font-weight: bold;
	cursor: pointer;
	
	-webkit-text-shadow: 1px 1px 1px #ffffff;
	text-shadow: 1px 1px 1px #ffffff;
}

.b-content_browse .syntaxhighlighter {
	padding: 1px 0px;
}

.b-content_browse .syntaxhighlighter.nogutter {
	padding-left: 10px !important;
}




