.b-content_print {
	margin: 0px;
	padding: 0px;
	font-family: Times New Roman, Georgia, serif;
}
.b-content_print .b-content__title {
	padding-left: 3%;
	text-align: center;
}

.b-content_print .b-content__footer,
.b-content_print .b-navigation {
	display:none;
}

.b-content_print  .b-article__section {
	width: 100%;
}

.b-article__section_general, 
.b-article__section_experience {
	page-break-after: always;
}

.b-content_print .b-article__section__title {
	padding-left: 3%;
}

.b-content_print  .b-article__section__items {
	padding-left: 3%;
	list-style-type: none;
}

.b-content_print .b-article__section__item-name {
	font-weight: bold;
}

.b-content_print .b-article__section__item-content {
	padding: 0px 15px;
	text-align: justify;
	list-style-type: none;
}

.b-content_print .b-inline_code {
	font-family: Courier New;
}

.b-content_print .b-code-example__trigger-container{
	margin-top: 5px;
	padding: 5px 0px;
}

.b-content_print .b-code-example__code {
	font-size: small;
}




